name : Service test

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Set up mySQL
        uses: samin/mysql-action@v1
        with:
          mysql database: 'meagea'
          mysql user: 'root'
          mysql password: 'zxcv1234'

      # Gradle wrapper 파일 실행 권한주기
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build test

  run-mysql:
      runs-on: ubuntu-latest
      services:
        mysql:
          image: mysql:5.7
          env:
            MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
          ports:
            - 3306:3306
          options: --health-cmd "mysqladmin ping" --health-interval 10s --health-timeout 5s --health-retries 10

      steps:
        - name: Create databases
          run:
            mysql -h 127.0.0.1 -P 3306 -u root --password="${MYSQL_ROOT_PASSWORD}" -e 'CREATE DATABASE promotion;'
            mysql -h 127.0.0.1 -P 3306 -u root --password="${MYSQL_ROOT_PASSWORD}" -e 'CREATE DATABASE animal;'
            mysql -h 127.0.0.1 -P 3306 -u root --password="${MYSQL_ROOT_PASSWORD}" -e 'CREATE DATABASE animal_file;'
            mysql -h 127.0.0.1 -P 3306 -u root --password="${MYSQL_ROOT_PASSWORD}" -e 'CREATE DATABASE log;'

        - name: Check databases
          run: mysql -h 127.0.0.1 -P 3306 -u root --password=zxcv1234 -e 'show databases'
